body{
  font-family: 'Lemonada', cursive;
  background-image: url(https://live.staticflickr.com/1973/45362097031_710ba436e2_b.jpg);
  background-size: cover;
  color: #ae00ab

}

#top{font-size: 75px;
background: -webkit-linear-gradient(#00ca44, #ae00ab);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;}

.rule{
  background: -webkit-linear-gradient(#00ca44, #ae00ab);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bottom{
  background: -webkit-linear-gradient(#ae00ab, #00ca44);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}

}
footer{
font-family: 'Rubik Mono One', sans-serif;
}
.center{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  /* flex-wrap: wrap; */
}
